/* global vars */
:root {
  --main-clr: #ff9800;
  --shades-clr: #ff980070;
  --light-text: white;
  --trans: 0.5s;
  --pad: 60px;
  --light-p: #767676;
  --light-bg: #eee;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: cursive, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr) var(--shades-clr);
}
/* costumize scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--shades-clr);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-clr);
  border-radius: 6px;
  border: 3px solid var(--shades-clr);
}

/* Global classes */
h3.headers {
  font-size: 35px;
  color: var(--main-clr);
  font-weight: bold;
  margin: 0;
}

/* container */

/* Grid System */
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
.container {
  margin: auto;
  padding: 0 15px;
}

/* reseting values */
ul {
  list-style: none;
  padding: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: initial;
}

/* Header */
.landing-page {
  background-image: url(../images/bg1.webp);
  background-size: cover;
  min-height: 100vh;
}

.landing-page::after {
  content: "";
  background-color: var(--shades-clr);
  opacity: 0.25;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header {
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
}

header ul {
  gap: 10px;
  align-items: center;
  z-index: 2;
}
@media (max-width: 991px) {
  header ul {
    display: none;
  }
}

header a {
  color: var(--light-text);
  font-size: 17px;
}

.landing-content {
  position: absolute;
  top: 50%;
  color: var(--light-text);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: fit-content;
  padding: 0 var(--pad);
}
.landing-content h3 {
  font-size: 45px;
  margin: 0;
}
@media (max-width: 991px) {
  .landing-content h3 {
    font-size: 30px;
  }
}
.landing-content h3 strong {
  color: var(--main-clr);
}
.landing-content p {
  font-size: 20px;
  margin: 10px 0 0;
}

/* Bullets */
.bullets {
  position: fixed;
  z-index: 2;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.bullets span {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid var(--main-clr);
  position: relative;
}
.bullets span:not(:last-child) {
  margin-bottom: 10px;
}
.bullets span div {
  position: absolute;
  display: none;
  left: -147px;
  top: -7px;
  background-color: var(--main-clr);
  color: var(--light-text);
  width: 130px;
  font-size: 20px;
  padding: 2px 0;
  text-align: center;
}
.bullets span div::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 4px;
  border: 10px solid;
  border-color: transparent transparent transparent
    var(--main-clr);
}
.bullets span:hover div {
  display: block;
}

/* Gear box */
.gear {
  position: absolute;
  padding: 8px;
  background-color: var(--light-text);
  width: fit-content;
  left: 0;
  top: 150px;
  transition: var(--trans);

  cursor: pointer;
}
.gear.open {
  left: 240px;
}
.gear:hover ion-icon {
  filter: drop-shadow(0 0 5px var(--main-clr));
  -webkit-filter: drop-shadow(0 0 5px var(--main-clr));
}
.gear ion-icon.active {
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}

.g {
  position: fixed;
  z-index: 1;
  top: 0;
}
.gear-panel {
  transition: var(--trans);
  width: 15em;
  height: 100vh;
  background-color: var(--light-text);
  position: absolute;
  left: -15em;
  padding: 20px;
  box-shadow: inset 20px 20px var(--pad) #ffffff,
    inset -20px -20px var(--pad) #bebebe;
}
.gear-panel.open {
  left: 0;
}

.gear-panel .box {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  color: grey;
}
.gear-panel .box:not(:first-child) {
  margin: 10px 0;
}
.gear-panel .box div {
  margin-top: 10px;
}
.gear-panel .box span {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.gear-panel .box span:first-child {
  background-color: #ff9800;
}
.gear-panel .box span:nth-child(2) {
  background-color: #4caf50;
}
.gear-panel .box span:nth-child(3) {
  background-color: #e91e63;
}
.gear-panel .box span:nth-child(4) {
  background-color: #2196f3;
}
.gear-panel .box span:last-child {
  background-color: #673ab7;
}
.gear-panel .box button {
  color: var(--light-text);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;
  background-color: var(--shades-clr);
}
.gear-panel .box button.active {
  background-color: var(--main-clr);
}
.gear-panel .box button:first-child {
  margin-right: 10px;
}

.gear-panel .reset {
  width: 100%;
  background-color: #f44336;
  color: var(--light-text);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* humberger menu */
.hamburger {
  position: relative;
  width: var(--pad);
  height: var(--pad);
  background: var(--light-text);
  border-radius: 10px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  transition: var(--trans) 0.8s;
  z-index: 2;
  margin-top: 10px;
}
.hamburger.active {
  width: 200px;
  height: 200px;
  transition-delay: 0s;
}

@media (max-width: 991px) {
  .hamburger {
    display: flex;
  }
}
.hamburger span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  background: var(--main-clr);
  border-radius: 50%;
  transform: translate(
    calc(12px * var(--x)),
    calc(12px * var(--y))
  );
  transition: 0.5s calc(0.1s * var(--i));
}
.hamburger.active span {
  transform: translate(
    calc(var(--pad) * var(--x)),
    calc(var(--pad) * var(--y))
  );
  width: 45px;
  height: 45px;
  background: var(--shades-clr);
}
.hamburger span ion-icon {
  transition: var(--trans);
  font-size: 0em;
  pointer-events: none;
}
.hamburger.active span ion-icon {
  font-size: 1.35em;
  color: #fff;
}
.hamburger.active span:hover ion-icon {
  color: 1 var(--main-clr);
  filter: drop-shadow(0 0 2px var(--main-clr))
    drop-shadow(0 0 5px var(--main-clr))
    drop-shadow(0 0 15px var(--main-clr));
}

/* About section */
#about {
  padding: var(--pad) 0;
}
#about .container {
  display: flex;
  justify-content: space-between;
  gap: 20vw;
}
@media (max-width: 991px) {
  #about .container {
    flex-direction: column;
    gap: 5vw;
    align-items: center;
  }
}
#about .text p {
  color: var(--light-p);
  line-height: 2;
}
@media (max-width: 991px) {
  #about .text {
    padding: 0 var(--pad);
  }
}
#about .container img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  filter: drop-shadow(-20px 20px 10px var(--shades-clr));
  -webkit-filter: drop-shadow(
    -20px 20px 10px var(--shades-clr)
  );
}
@media (max-width: 991px) {
  #about .container img {
    width: 35vw;
  }
}

/* Our Skills */
#skills {
  background-color: var(--light-bg);
  padding: var(--pad);
}
#skills h3 {
  text-align: center;
  padding-bottom: var(--pad);
}

#skills .skill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#skills .skill div {
  background-color: var(--light-text);
  padding: 20px var(--pad);
  display: flex;
  gap: 30px;
  font-size: 20px;
}

#skills .skill div span:nth-child(1) {
  width: 150px;
  font-weight: bold;
}
#skills .skill div span:nth-child(2) {
  width: 0;
  background-color: var(--main-clr);
  transition: var(--trans);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Our Gallery */
#gallery {
  padding: var(--pad) 0;
}
#gallery .container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
#gallery h3 {
  margin-bottom: var(--pad);
  text-align: center;
}
#gallery .img {
  overflow: hidden;
  position: relative;
  border: 5px solid var(--light-bg);
}

#gallery img {
  width: 200px;
  height: 112px;
  cursor: pointer;
  transition: var(--trans);
}
#gallery img:hover {
  transform: scale(1.2) rotate(3deg);
  -webkit-transform: scale(1.2) rotate(3deg);
  -moz-transform: scale(1.2) rotate(3deg);
  -ms-transform: scale(1.2) rotate(3deg);
  -o-transform: scale(1.2) rotate(3deg);
}
/* popup preview img */
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  background-color: var(--light-text);
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
}

.popup-box h2 {
  text-align: center;
  color: var(--main-clr);
  font-weight: bold;
  font-size: 30px;
}

.popup-box img {
  max-width: 100%;
}
.popup-box button {
  position: absolute;
  display: flex;
  right: -25px;
  top: -25px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--main-clr);
  color: var(--light-text);
  font-size: 2.5em;
}

/* TimeLine Section */

#timeline {
  background-color: var(--light-bg);
  padding: var(--pad);
}
#timeline .timeline-content::before {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--main-clr);
  left: 50%;
  z-index: 1;
  height: 0%;
  transition: calc(var(--trans) * 6);
}
#timeline .timeline-content.scorlled::before {
  height: 100%;
}
#timeline .timeline-content {
  position: relative;
  display: grid;
  width: 100%;
  grid-template:
    ". . yr1 . ." 50px
    "lf1 lf1 . . ."
    ". . . . ." 50px
    ". . . rt rt"
    ". . . . ." 50px
    ". . yr2 . ." 50px
    "lf2 lf2 . . ."
    ". . . . ." 50px
    "lf3 lf3 . . .";
}
#timeline .timeline-content .y1 {
  grid-area: yr1;
  visibility: hidden;
  transition: var(--trans);
}

#timeline .timeline-content .left1 {
  grid-area: lf1;
  visibility: hidden;
  transition: var(--trans) 0.5s;
}
#timeline .timeline-content .right {
  grid-area: rt;
  visibility: hidden;
  transition: var(--trans) 1s;
}
#timeline .timeline-content .y2 {
  grid-area: yr2;
  visibility: hidden;
  transition: var(--trans) 1.5s;
}
#timeline .timeline-content .left2 {
  grid-area: lf2;
  visibility: hidden;
  transition: var(--trans) 2s;
}
#timeline .timeline-content .left3 {
  grid-area: lf3;
  visibility: hidden;
  transition: var(--trans) 2.5s;
}
#timeline .timeline-content .year {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-clr);
  color: var(--light-text);
  z-index: 2;
}
#timeline .timeline-content .text {
  position: relative;
  background-color: var(--light-text);
  padding: 15px;
}
#timeline .timeline-content .text h3 {
  color: var(--main-clr);
  margin: 0;
}
#timeline .timeline-content .text p {
  color: var(--light-p);
  line-height: 1.5;
}
#timeline .timeline-content .cc {
  position: relative;
}
#timeline .timeline-content .cc::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--light-bg);
  border: 3px solid var(--main-clr);
  border-radius: 50%;
  right: -35px;
  top: 20px;
  z-index: 2;
}
#timeline .timeline-content .cc.right::before {
  left: -33px;
}

#timeline .timeline-content .text::before {
  content: "";
  position: absolute;
  border: 10px solid;
  right: -20px;
  top: 20px;
  border-color: transparent transparent transparent
    var(--light-text);
}
#timeline .timeline-content .right .text::before {
  right: unset;
  left: -20px;
  border-color: transparent var(--light-text) transparent
    transparent;
}

/* Features */
#features {
  padding: var(--pad);
}
#features h3 {
  text-align: center;
  margin-bottom: var(--pad);
}
.feats-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  gap: 20px;
  justify-content: center;
}
.feats-content .feat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feats-content .feat:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px grey;
  border-radius: 30px;
  padding: 20px;
}
.feats-content .feat h4 {
  font-size: 26px;
  position: relative;
  margin: 20px 0;
}
.feats-content .feat h4::after {
  content: "";
  position: absolute;
  background: var(--shades-clr);
  width: 50px;
  height: 5px;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
  transition: var(--trans);
}
.feats-content .feat:hover h4::after {
  width: 100%;
}
.feats-content .feat p {
  line-height: 2;
  color: var(--light-p);
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.feats-content .feat:hover p {
  -webkit-box-orient: unset;
}
#features img {
  max-width: 100px;
  height: 100px;
}

/* testimonials */
#testimonials {
  padding: var(--pad);
  margin: var(--pad) auto;
  position: relative;
}
#testimonials::before,
#testimonials::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}
#testimonials::before {
  background-image: url("../images/blob.svg");
  left: 0;
}
#testimonials::after {
  right: 0;
  background-image: url(../images/Moon.svg);
}
@media (max-width: 1199px) {
  #testimonials::before {
    width: 100%;
  }
  #testimonials::after {
    content: none;
  }
}
#testimonials h3 {
  color: var(--light-text);
}

#testimonials .te-boxes {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  );
  grid-gap: 15px;
  z-index: 5;
}
@media (max-width: 1199px) {
  #testimonials .te-boxes {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
#testimonials .test-box {
  background-color: var(--light-text);
  padding: 20px;
  border-radius: 15px;
}
#testimonials .test-box p {
  color: var(--light-p);
  line-height: 1.8;
  margin: 0;
}
#testimonials .test-box h4:first-of-type {
  font-size: 18px;
  margin: 40px 0 0;
}
#testimonials .test-box h4:nth-of-type(2) {
  color: var(--light-p);
  font-weight: normal;
  margin: 10px 0 0;
}

/* Contact Us */
.contact {
  padding: var(--pad);
}
.contact h3 {
  text-align: center;
  margin-bottom: var(--pad);
}
.contact form {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 991px) {
  .contact form {
    flex-direction: column;
    align-items: center;
  }
}
.contact form div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact form div input {
  padding: 7px 15px;
  width: 300px;
  outline: none;
  border: 1px solid #ccc;
}
.contact form div input[type="submit"] {
  color: var(--light-text);
  background-color: var(--main-clr);
}
.contact form div textarea {
  height: 133px;
  outline: none;
  border: 1px solid #ccc;
  padding: 7px 15px;
}
.contact form div input::placeholder {
  color: var(--light-p);
  font-weight: normal;
}

/* Footer */
footer {
  background-color: var(--light-p);
  color: var(--light-text);
  padding: 30px 0;
  text-align: center;
  margin-top: calc(var(--pad) * 2);
}
footer em {
  color: var(--main-clr);
  font-size: 22px;
}

/* Validation popup menu */
input[name] + span {
  width: 250px;
  margin: auto;
  height: 20px;
  position: relative;
  top: -11px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: red;
  text-align: center;
}
